<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="app2">
			<!--想了解这里key的作用请访问：(https://cn.vuejs.org/v2/api/#key)-->
			<p v-for="item in items" :key="item.id">
				{{item.message}}
			</p>
			<!--@click等价于v-on:click-->
			<button class="btn" @click="btn2Click()">动态赋值</button><br/><br/>
			<button class="btn" @click="btn3Click()">为data新增属性</button>
		</div>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/vue/2.1.3/vue.js"></script>
		<script>
			var vm2 = new Vue({
				el: "#app2",
				data: {
					items: [{
							message: "Test one",
							id: "1"
						},
						{
							message: "Test three",
							id: "3"
						}
					]
				},
				methods: {
					btn2Click: function() {
						this.items[0]['message'] = 'asdasd'//这样是响应式的，因为不在上面的一，二点内，上面的是针对数组
					},
					btn3Click: function() {
						var itemLen = this.items.length;
						Vue.set(this.items, itemLen, {
							message: "Test add attr",
							id: itemLen
						});
					}
				}
			});
		</script>
	</body>

</html>