@media screen and (min-width:762px) and (max-width:989px){
  .game-info > ul > li:nth-of-type(1),.game-info > ul > li:nth-of-type(4) {
    width: 30% !important;
  }
  .game-info > ul > li:nth-of-type(2),.game-info > ul > li:nth-of-type(3) {
    width: 70% !important;
  }
  .game-info > ul > li::after {
    display: none !important;
  }
}
@media screen and (min-width:761px) and (max-width: 1050px) {
  .game-info > ul > li:nth-of-type(3) .balls > span {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 22px !important;
    background-size: 100% 100% !important;
  }
  .game-info > ul > li:nth-of-type(3) .balls > span::after {
    font-size: 26px !important;
    left: 48px !important;
  }
}
