/* .bet-plate begin */
.bet-plate {
  margin-top: 20px;
}
.bet-plate > ul:nth-of-type(1) {}
.bet-plate > ul:nth-of-type(1) > li {}
.bet-plate > ul:nth-of-type(1) > li > h4 {
  width: 100%;
  height: 23px;
  line-height: 23px;
  background-color: #ff9100;
  font-weight: normal;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.bet-plate > ul:nth-of-type(1) > li > ul {
  padding: 10px 0 3px 0;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li {
  float: left;
  padding: 5px 5px;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li.selected{
  background-color: #eee4b2;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .bet-label {
  float: left;
  width: 28%;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .bet-label > .ball {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 14px;
  background: linear-gradient(to right, #d5d5d5, #e7e7e7, #d5d5d5);
  border: 1px solid #ababab;
  line-height: 26px;
  text-align: center;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .odd {
  float: left;
  height: 28px;
  line-height: 26px;
  font-size: 16px;
  color: #ee0000;
  text-align: center;
  width: 32%;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .bet-count {
  float: right;
  width: 40%;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .bet-count input {
  width: 100%;
  height: 26px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #b2b2b2;
  background: #eeeeee;
  text-align: center;
  font-weight: bold;
  color: #ee0000;
}
.bet-plate > ul:nth-of-type(1) > li > ul > li > .bet-count input:focus {
  border: 1px solid #ee0000;
}
/* .bet-plate end */
